<!-- Ürünü İncele

<div class="card mb-3" *ngIf="customer; else noCustomer">
  
      <div class="card-body">
        <h5>{{ customer.name }}</h5>
        <p class="card-text">{{ customer.companyName }}</p>
        <p class="card-text">{{ customer.email }}</p>
        <p class="card-text">{{ customer.phoneNumber }}</p>
        <p class="card-text">{{ customer.adress }}</p>
      </div>
    </div>


<ng-template #noCustomer>
  <div class="alert alert-warning">
    Listelenecek Herhangi Bir Müşteri Bulunamadı!
  </div>
</ng-template> -->
